
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

form {
  margin: 60px auto;
  width: 45%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
}